:root {
    --active-brightness: 0.85;
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #118bee15;
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-link: #118bee;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
}
article header, div header, main header {
    padding-top: 0;
}
header {
    text-align: var(--justify-important);
}
header, main{
    margin: 0 auto;
    max-width: var(--width-content);
    padding: 3rem 1rem;
}
h1, h2, h3, h4, h5, h6 {
    line-height: var(--line-height);
    text-wrap: balance;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.frontbar {
    background-color: #333;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
	border-radius: 25px;
}

.frontbar a {
    color: #fff;
    text-decoration: none;
}

.frontbar a:hover {
    color: #ccc;
}
body {
	font-family: Trebuchet MS, sans-serif;
	line-height: var(--line-height);
	color: #FFFFFF;
	margin: 0;
	padding: 0;
}
p {
    margin: 0.75rem 0;
    padding: 0;
    width: 100%;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
footer { 
	background-color: #333;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	padding: 15px;
	width: 98%;
} 
.footer-text { 
    font-family: Trebuchet MS, sans-serif;
    font-size: 20px;
	display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
a b, a strong, button, input[type="submit"] {
    background-color: var(--color-link);
    border: 2px solid var(--color-link);
    color: var(--color-bg);
}
button, input[type="submit"] {
    font-family: var(--font-family);
}
a b, a em, a i, a strong, button, input[type="submit"] {
    border-radius: var(--border-radius);
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: var(--line-height);
    margin: 0.5rem 0;
    padding: 1rem 2rem;
}
iframe {
   align-items: center;
   justify-content: center;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	margin: 0 auto;
	display: block;
}
.image {
	display: block;
	margin: auto;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.80);
}
img {
  transition: filter 0.2s ease-in-out;
  filter: brightness(100%);
}

img:hover {
  filter: brightness(125%);
}
::-webkit-scrollbar {
 width: 12px;
}
::-webkit-scrollbar-track {
 background: #5BB7FE;
}
::-webkit-scrollbar-thumb {
 background: #008FFF;
 border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
 background: #0074FF;
}
.wallpaper {
	position: absolute;
	width: 100%;
	height: 660%;
	overflow: hidden;
	background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 20%, rgba(0,153,255,0.5) 100%);
}
.liens_webs {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
}
.rickroll {
	text-decoration: none;
	color: inherit;
}